/* :root {
    --colorWhite: #ffffff;
    --colorBlack: #000000;
    --colorRed: red;
    --fontSize-sm: 16px;
    --fontFamily: 'Arial, Helvetica, sans-serif';
    --fontTitle: 'Arial';
    --fontBody: 'Helvetica';
} */

/* SignIn Component */

/* h1 {
    color: var(--colorRed);
} */

/* SignUp Component */

/* Home view */

/* Account View */

/* .navbar-img {
    width: 90px;
} */

@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #a0cdee;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-repeat: no-repeat;
    border: #719bf0 1px solid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

nav ul {
    list-style: none;
    padding-inline-start: 0;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
            "position1 position2";
}

/* .position1 {
    grid-area: position1; 
}

.position2 {
    grid-area: position2;
} */

.linkNav {
    text-decoration: none;
    color: #1b83cd;
    font-size: 1.2em;
    margin: 0 20%; 
}

.signIn {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    align-items: center;
    margin: 4% 35%;
    background-color: #ffffffab;
    box-shadow: 5px 20px 80px #181616ba;
    border-radius: 20px;
    background-image: url('../images/formSignIn-UpBackground.PNG');
    background-size:  102%;
    background-repeat: no-repeat;
}

.container {
    display: block;
}

.container h3 {
    display: flex;
    justify-content: center;
}

.form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.form-input {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    padding: 2%;
}

.form-input input {
    border-radius: 13px;
    border: 2px solid #dfb44e;
    margin: 2% 8%;
    padding: 2%;
}

 .containerButton {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-content: center;
} 

.accountSignUp {
    display: flex;
    justify-content: center;
}

.backgroundImage {
    background-image: url('../images/signIn-UpWallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.form-input label {
    border-radius: 13px;
    margin: 0 14%;
    font-size: 2.2rem;
    font-family: 'Chewy';
    color: #ffbd59;
    font-weight: bold;
    -webkit-text-stroke: 0.1px #000000;
}

.signInButton {
    --bg: #f5bdb9;
    --hover-bg: #f5bdb9;
    --hover-text: #f5bdb9;
    background: var(--bg);
    transition: 0.2s;
    border-radius: 20px;
    border: 1px #0000001e solid;
    cursor: pointer;
    height: 60%;
    margin-top: 2%;
    margin-right: 16%;
    margin-left: 16%;
    text-align: center;
    font-family: 'Chewy';
    color: #f5bdb9;
    font-weight: bold;
    -webkit-text-stroke: 0.1px #000000;
    font-size: 1.2em;
}

.signInButton:hover {
    color: var(--hover-text);
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
}

.signInButton:active {
    transform: translate(0);
    box-shadow: none;
}

.input-field-label {
    display: flex;
    align-items: center;
}

.sign-up-link {
    text-decoration: none;
    text-align: center;
    margin: 0;
    font-family: 'Chewy';
    color: #f5bdb9;
    -webkit-text-stroke: 0.1px #000000;
    font-weight: 700;
}

.linkSignUp {
    font-size: 1.7rem;
    font-weight: 700;
    font-family: 'Chewy';
    color: #ffbd59;
    -webkit-text-stroke: 0.1px #000000; 
    margin: 0;
    margin-right: 5%;
    padding: 2%;
}

.logo {
    width: 9%;
    margin-top: 4%;
    border-radius: 2px;
    border: 1px #000000 solid;
    position: absolute;
    transform: translate(40%, -70%);
}

.imgDiv {
    display: flex;
    justify-content: center;
    padding-top: 20%;
}

.signUp {
    --bg: #f5bdb9;
    --hover-bg: #f5bdb9;
    --hover-text: #f5bdb9;
    color: #f5bdb9;
    background: var(--bg);
    transition: 0.2s;
    border-radius: 20px;
    border: 1px #0000001e solid;
    cursor: pointer;
    height: 48%;
    font-size: 1.2em;
    padding: 2%; 
} 

.signUp:hover {
    color: var(--hover-text);
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
}

.signUp:active {
    transform: translate(0);
    box-shadow: none;
}

.modal {
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    align-items: center;
    width: 30%;
    height: 48%;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
}

.overlay {
    background-color: #00000080;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10; 
} 

.posit {
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    height: 400px;
    background-color: #fdfab9;
    border-radius: 80px;
    box-shadow: #00000066 0px 30px 90px;
    border: 1px #000000 solid;
    margin: 2% 36%; 
}

.input-field input{
    background-color: #ffe16b;
    border: 1px #6d4a16 solid;
    border-radius: 12px;
    padding: 1em;
    width: 80%;
    margin: 2%;
}

.addTask {
    font-family: 'Chewy';
    color: #719bf0;
    -webkit-text-stroke: 0.1px #000000;
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 19%;
    font-size: 1.4em;
    text-align: center;
}

.addTask h1 {
    font-size: 1.5em;
}

.buttonAdd {
    padding: 0 2em;
    cursor: pointer;
    border: none; 
    background-color: #fdfab9;
    font-family: 'Chewy';
    color: #719bf0;
    -webkit-text-stroke: 0.1px #000000;
    font-size: 1.6em;
    font-weight: bold;
}

.buttonAdd img {
    width: 30%;
    border-radius: 0;
}

.adding {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    display: grid;
    grid-row-gap: 13px;
}

.error-text {
    font-size: 1.2rem;
    /* top: 28%;  */
    text-align: center;
    transform: translate(0%, 0%);
    color: #ff0808; 
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
}

.addTaskSticker h1 {
    font-family: 'Chewy';
    color: #ffbd59;
    -webkit-text-stroke: 0.1px #000000;
    font-size: 4em;
    background-image: url('../images/arrowPostIt.png');
    background-size: 22%;
    background-position: 0;
    background-repeat: no-repeat;
    /* margin: 2%; */
    padding: 1.3rem;
}

.containerTask {
    width: 80%;
    margin: 4%;
    padding: 0 2%;
    box-shadow: #00000066 0px 30px 90px;
    border: 1px #000000 solid;
    border-radius: 16px;
    background-color: #fcd3d5;
}

.containerTask h3 {
    font-size: 2.4em;
    text-align: center;
}

.containerTask p {
    font-size: 1.6em; 
    text-align: center;
}

.completed {
    background-color: #ff000011;
}

.buttonImg {
    width: 120%;
    border-radius: 0;
    cursor: pointer;
}

.buttonEditCheckDelete {
    display: flex;
    margin: 2%;
}

.backgroundButton {
    background-color: #fcd3d5;
    border: none;
    margin: 3%;
}

.addImageOrColor {
    background: none;
    border: none; 
    margin: 0;
    display: flex;
}

.addImageOrColor img {
    width: 26%;
    cursor: pointer;
}

.editContainer {
    margin: 12%;
    align-items: center;
    grid-template-columns: 1fr;
    display: grid; 
    grid-row-gap: 12px;
}

.editContainer input, textarea {
    background-color: #fcd3d5;
    border: 1px  #b27e80 solid;
}

.buttonImgSaveAndCancel {
    width: 80%;
    border-radius: 0;
    cursor: pointer;
}

.iconPushpin {
    width: 16%;
    border-radius: 0;
}

.divCard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    place-items: center;
}

.wallpaperWeb {
    background-image: url('../images/wallpaperHome.png');
}

.buttonSignOut {
    border-radius: 0;
    border: none;
    background-color: #a0cdee;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
}

.buttonSignOut img {
    width: 10%;
    border-radius: 0;
}

.modalButton {
    border-radius: 0;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
}

.modalButton img { 
    border-radius: 0;
    width: 60%;
}

.modal h3 {
    font-size: 2em;
    font-family: 'Chewy';
    color: #d375d6;
    -webkit-text-stroke: 0.1px #000000;
}

.modal p {
    font-size: 1.6em;
    font-family: 'Chewy';
    color: #7b237e;
    -webkit-text-stroke: 0.1px #000000;
}

.catImg {
    width: 20%;
    border: none;
    border-radius: 0;
    align-items: center;
}

.centerImg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.completedTasks h1 {
    font-family: 'Chewy';
    color: #ffbd59;
    -webkit-text-stroke: 0.1px #000000;
    font-size: 2em;
    background-image: url('../images/arrowPostIt.png');
    background-size: 17%;
    background-position: 0;
    background-repeat: no-repeat;
    /* margin: 2%; */
    padding: 1.3rem;
}

.formSignUp {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
}

.signUpForm {
    align-items: center;
    margin: 4% 35%;
    background-color: #ffffffab;
    box-shadow: 5px 20px 80px #181616ba;
    border-radius: 20px;
    background-image: url('../images/formSignIn-UpBackground.PNG');
    background-size: 102%;
    background-repeat: no-repeat;
}

.signUpFormRegister {
    align-items: center;
    margin: 4% 35%;
    background-color: #ffffffab;
    box-shadow: 5px 20px 80px #181616ba;
    border-radius: 20px;
    background-image: url('../images/registerwallpaper.png');
    background-size: 102%;
    background-repeat: no-repeat;
}

.logoNav {
    width: 20%;
    margin: 0 10%;
}

.title {
    font-family: 'Chewy';
    color: #ffbd59;
    -webkit-text-stroke: 0.1px #000000;
    font-size: 4em;
    margin: 4%;
    text-align: center;
}

@media (max-width: 766px) {

.signIn {
    margin: 7% 20%;
    background-size: 100%;
}

.signUpFormRegister {
    margin: 2% 20%;
    background-size: 100%;
}

.logo {
    width: 16%;
    margin-top: 11%;
    transform: translate(30%, -90%);
}

.signInButton {
    padding: 0 20%; 
    height: 60%;
}

.posit {
    margin: 2% 20%;
}

.buttonAdd img {
    width: 20%;
}

.addTaskSticker h1 {
    background-size: 44%;
}

.divCard {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: 1fr;
    place-items: center;
}

.modal {
    width: 60%;
}

.completedTasks h1{
    background-size: 34%;

}

.logoSignUp {
    width: 10%;
    margin-top: 11%;
    transform: translate(30%, -90%);
}

.buttonSignOut img {
    width: 24%;
}

.logoNav {
    width: 36%;
}














}